module zabbix-agent-gfarm 1.0;

require {
	type devlog_t;
	type etc_t;
	type hi_reserved_port_t;
	type initctl_t;
	type kernel_t;
	type nfs_t;
	type proc_kcore_t;
	type rpm_exec_t;
	type ssh_exec_t;
	type sudo_exec_t;
	type tmp_t;
	type unconfined_t;
	type unlabeled_t;
	type unreserved_port_t;
	type user_tmp_t;
	type var_log_t;
	type zabbix_agent_t;
	class capability { audit_write sys_resource };
	class dir { read write getattr add_name remove_name search open };
	class fifo_file getattr;
	class file { read write getattr setattr create unlink lock open execute execute_no_trans };
	class netlink_audit_socket { create read write nlmsg_relay };
	class sock_file { write getattr };
	class tcp_socket { name_connect read write getopt setopt shutdown };
	class unix_dgram_socket { create connect read write sendto };
	class unix_stream_socket connectto;
}

#============= zabbix_t ==============
allow zabbix_agent_t devlog_t:sock_file { write getattr };
allow zabbix_agent_t etc_t:file write;
allow zabbix_agent_t hi_reserved_port_t:tcp_socket { name_connect read write getopt setopt shutdown };
allow zabbix_agent_t initctl_t:fifo_file getattr;
allow zabbix_agent_t kernel_t:unix_dgram_socket sendto;
allow zabbix_agent_t nfs_t:file { read write execute execute_no_trans };
allow zabbix_agent_t proc_kcore_t:file getattr;
allow zabbix_agent_t rpm_exec_t:file { execute execute_no_trans };
allow zabbix_agent_t self:capability { audit_write sys_resource };
allow zabbix_agent_t self:netlink_audit_socket { create read write nlmsg_relay };
allow zabbix_agent_t self:unix_dgram_socket { create connect read write };
allow zabbix_agent_t ssh_exec_t:file { execute execute_no_trans };
allow zabbix_agent_t sudo_exec_t:file { execute execute_no_trans };
allow zabbix_agent_t tmp_t:dir { read write getattr add_name remove_name search open };
allow zabbix_agent_t tmp_t:file { read write getattr setattr create unlink open };
allow zabbix_agent_t unconfined_t:unix_stream_socket connectto;
allow zabbix_agent_t unlabeled_t:file { read write execute execute_no_trans };
allow zabbix_agent_t unreserved_port_t:tcp_socket { name_connect read write getopt setopt shutdown };
allow zabbix_agent_t user_tmp_t:file write;
allow zabbix_agent_t user_tmp_t:sock_file write;
allow zabbix_agent_t var_log_t:file read;
